---
layout: microtypo
---
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://gmpg.org/xfn/11" rel="profile">
		<meta name="generator" content="Jekyll https://jekyllrb.com/">
		<meta name="description" content="{{ site.description }}" />
		<meta name="keywords" content="édition, livre, chaîne d'édition, chaîne de publication, traitement de texte, logiciel de publication assistée par ordinateur, livre numérique, ebook" />
    <title>{{ page.title }} – {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/print.css">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/touch-icon.png" sizes="192x192">
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		<script src="/scripts/orderedList.js" type="text/javascript"></script>
	  <script>
	    // waiting for the before everything hook for that one
	    window.onload = function () {
	      noteNumbering();

	      /* render pagedjs after a first render in the browser (need to calculate the computed line-height and font-metrics */
	      setTimeout(pagedjs, 3000);
	      setTimeout(addingNumToOl, 20000);

	    }
	    // after the layout, add the start property to each ol element
	    addingNumToOl();

	  </script>
	</head>
<body>
	<section class="first-pages">
  	<section class="cover-book">
			<section class="cover">
				<h1>Vers un système modulaire de publication</h1>
				<h2>Éditer avec le numérique</h2>
				<h3>Antoine Fauchié</h3>
				<p>Master Sciences de l'information et des bibliothèques<br>Spécialité Publication numérique – 2018<br><strong>École nationale supérieure des sciences de l'information et des bibliothèques</strong></p>
				<p>Sous la direction d’<strong>Anthony Masure</strong>, maître de conférences en design à l’université Toulouse – Jean Jaurès et de <strong>Marcello Vitali-Rosati</strong>, professeur au département des littératures de langue française de l’Université de Montréal et titulaire de la Chaire de recherche du Canada sur les écritures numériques.</p>
				<p>https://memoire.quaternum.net – {{ site.version}}</p>
				<p><br></p>
				<img class="cover-logo" src="/images/logo-universite-lyon-enssib.png">
			</section>
			<section class="resume">
				<h1>Résumé</h1>
				<p>{{ site.resume }}</p>
				<p><strong>Mots-clés :</strong> {{ site.mots-cles }}</p>
				<h1>Abstract</h1>
				<p>{{ site.abstract }}</p>
				<p><strong>Keywords :</strong> {{ site.keywords }}</p>
			</section>
			<div class="break"></div>
			<section class="merci">
				<h1>Remerciements</h1>
				<p>Je remercie Anthony Masure et Marcello Vitali-Rosati pour avoir accepté la co-direction de ce mémoire, et pour m'avoir apporté des retours précieux, rapides, exigeants et enthousiasmants.</p>
				<p>Merci à Benoît Epron, cet humble travail n'est qu'un résultat parmi d'autres dans le cadre d'un Master qu'il a dirigé avec professionnalisme et humanité.</p>
				<p>Merci à Frank Taillandier sans qui ce travail n'aurait jamais débuté, à Joël Faucilhon pour son incroyable désir de connaître et de transmettre, et à Thomas Parisot pour son temps et sa curiosité.</p>
				<p>Merci à Julien Taquet pour sa patience, son acharnement et sa fougue.</p>
				<p>Que soient également remerciées les précédentes promotions du Master Publication numérique qui, sans le savoir peut-être, m'ont apporté un terreau d'échanges et de réflexions inégalable.</p>
			</section>
			<section class="toc">
	    <h1>Sommaire</h1>
			<nav>
				<ul>
					<li class="toc-1">
						<a href="#n0">Introduction : Faire avec le numérique ?</a>
					</li>
					<li class="toc-1">
						<a href="#n1">1. Mutations du livre</a>
					</li>
					<li class="toc-2">
						<a href="#n1-1">1.1. Hybridation</a>
					</li>
					<li class="toc-2">
						<a href="#n1-2">1.2. Solutionnisme</a>
					</li>
					<li class="toc-2">
						<a href="#n1-3">1.3. Progrès technique</a>
					</li>
					<li class="toc-1">
						<a href="#n2">2. Expérimentations</a>
					</li>
					<li class="toc-2">
						<a href="#n2-1">2.1. O’Reilly</a>
					</li>
					<li class="toc-2">
						<a href="#n2-2">2.2. Getty Publications</a>
					</li>
					<li class="toc-2">
						<a href="#n2-3">2.3. Distill</a>
					</li>
					<li class="toc-1">
						<a href="#n3">3. Un système modulaire</a>
					</li>
					<li class="toc-2">
						<a href="#n3-1">3.1. Les étapes d’une chaîne de publication</a>
					</li>
					<li class="toc-2">
						<a href="#n3-2">3.2. Les principes d’un nouveau modèle</a>
					</li>
					<li class="toc-1">
						<a href="#n-c">Conclusion : Pour de nouvelles dépendances</a>
					</li>
					<li class="toc-1">
						<a href="#n-n">Notes</a>
					</li>
					<li class="toc-1">
						<a href="#n-a">Annexes</a>
					</li>
					<li class="toc-2">
						<a href="#n-a-1">Lexique</a>
					</li>
					<li class="toc-2">
						<a href="#n-a-2">Bibliographie</a>
					</li>
					<li class="toc-2">
						<a href="#n-a-3">Autour du mémoire</a>
					</li>
				</ul>
			</nav>
  		</section>
		</section>
	</section>
  <article class="content">
    {{ content }}
  </article>
</body>
</html>
